<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>StoryTime</title>

    <!-- Custom Font -->
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <!-- Custom Font -->

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/layouts/marketing.css">
</head>


<body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">StoryTime</a>

            <ul>
                <li class="pure-menu-selected"><a href="#">Home</a></li>
                <li><a href="#">Tour</a></li>
                <li><a href="#sign-up">Sign Up</a></li>
            </ul>
        </div>
    </div>

    <div class="splash-Container">
        <div class="splash">
            <h1 class="splash-head" id="splash">StoryTime</h1>
        </div>
    </div>

    <div class="content-wrapper" id="geninfo">
        <div class="content">
            <h2 class="content-head is-center">We make raising readers easy.</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                        Long-Run Change
                    </h3>
                    <p>
                        Most reading programs offer parents books and advice— then vanish. StoryTime follows a research-backed model of sticking with parents night after night to help them with the hardest part of the reading habit: keeping it up.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        Reading is Fun
                    </h3>
                    <p>
                        StoryTime sends short rhyming stories that segue into activities to get families talking, playing, and sharing, face-to-face. Reading’s fun— for both kids and parents.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        Reading is Easy
                    </h3>
                    <p>
                        Parents no longer need to take a public bus to the library, guess at age-appropriate books, and remember to read every night. StoryTime breaks down this complex task into something simple and concrete that, each night, parents can act on.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        Simple Technology
                    </h3>
                    <p>
                        Rather than introduce new technology and force parents to learn new habits, StoryTime relies on what over 6 billion people already have and use: mobile texting. 
                    </p>
                </div>
            </div>
        </div>

        <div class="ribbon l-box-lrg pure-g">
            <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                <img class="pure-img-responsive" alt="File Icons" width="300" src="/HenokPhil.jpg">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="author content-head content-head-ribbon">We're here to write a new story.</h2>

                <p>
                    We built StoryTime to erase the “word gap,” the fact that, by age three, children from poor families have heard 30 million fewer words than those from wealthier families. It sends children’s stories and early-learning  activities by text message to parents without books at home. Designed with Yale Child Study experts, it’s an early literacy program for the world’s kids— one that sticks with parents as they sing, play, and share with their kids night after night.
                </p>
            </div>
        </div>

        <div class="content" id="signup">
            <h2 class="content-head is-center">This is a service for parents <strong>everywhere</strong>.</h2>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5" id="sign-up">
                    <form class="pure-form pure-form-stacked">
                        <fieldset>

                            <label for="name">Your Name</label>
                            <input id="name" type="text" placeholder="Your Name">


                            <label for="email">Your Email</label>
                            <input id="email" type="email" placeholder="Your Email">

                            <label for="password">Your Password</label>
                            <input id="password" type="password" placeholder="Your Password">

                            <button type="submit" class="button-large button-secondary pure-button">Sign Up</button>
                        </fieldset>
                    </form>
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4>Contact Us</h4>
                    <p>
                        We push our families to get in touch with us. StoryTime is not built just <strong>for</strong> familes, but <strong>with</strong> them. Email us at: <span style="color:#EB7260"> storytimect@gmail.com <span>
                    </p>

                    <h4>More Information</h4>
                    <p>
                        Every parent wants to read to their child, but life makes it really hard. We want to make it easier for parents to build the habit so that, from the earliest years, they cognitively prepare their kids for lifetime growth and academic success.
                    </p>
                </div>
            </div>

        </div>

        <div class="footer l-box is-center">
            StoryTime 
        </div>

    </div>
</body>
</html>
